body{
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    #Man {
      animation: Up_and_down infinite 3s linear;
      
    }
  }

@keyframes Up_and_down {
    0% {
      transform: translateY(100px);
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
        transform: translateY(100px);
    }
}