body{
    text-align: center;
}

@keyframes colorChange {
    0%{fill:#00B0FF}
    20%{fill:rgb(94, 103, 231)}
    40%{fill:rgb(231, 94, 208)}
    60%{fill:rgb(233, 96, 96)}
    80%{fill:rgb(231, 206, 94)}
    100%{fill:rgb(94, 231, 94)}
}
#Bubbles {
    width:200px;
    height:200px;
    animation: colorChange 5s infinite;
}