body{
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    #Football {
      animation: Football-spin infinite 5s linear;
      transform-origin: center;
      transform-box: fill-box;
    }
  }

@keyframes Football-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}