body {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  #Birds {
    animation: Up_and_down_birds infinite 2s linear;
  }
}

@keyframes Up_and_down_birds {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}
