.buttonContainer{
    display: flex;
    justify-content: space-evenly;
}


.button {
    background-color: #00B0FF;
    width: 33%;
    height: 40px; 
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Verdana;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.activeButton {
  background-color: #059ee6;
  opacity: 1;
}

.button:hover {
    background-color: #059ee6;
    opacity: 1;
}

  @media only screen and (max-width: 600px) {
    .buttonContainer{
      flex-direction: row;
    }
  }