.button {
    background-color: #00B0FF;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Verdana;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;


    /* font-size: 20px;
    background-color: #00B0FF;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    margin: 5px;
    flex-grow: 1; */
}

.button:hover {
    background-color: rgb(160, 160, 160);
}

/* .buttonContainer {
    display: flex;
    width: 100%;
}  */

  @media only screen and (max-width: 700px) {
    .buttonContainer{
      flex-direction: row;
    }
  }